.tabs-container {
    font-family: Arial, sans-serif;
    background-color: black;
}
.main-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-tabs .tab-link {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    margin-right: 10px;
    border-radius: 5px;
}
.main-tabs .tab-link.active {
    background-color: #007bff;
    color: white;
}
.tab-content {
    display: none;
    padding: 20px;
    background-color: hsl(0, 0%, 23%);
    border-radius: 5px;
    color:white;
}
.tab-content.active {
    display: block;
}
.sub-tabs-container {
    margin-top: 20px;
}
.sub-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color:black;
}
.sub-tabs .sub-tab-link {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #e0e0e0;
    margin-right: 10px;
    border-radius: 5px;
}
.sub-tabs .sub-tab-link.active {
    background-color: #28a745;
    color: white;
}
.subtab-content {
    display: none;
    margin-top: 20px;
}
.subtab-content.active {
    display: block;
}
@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        padding: 10px 0;
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 768px) {
    .main-tabs {
        flex-direction: column;
    }

    .sub-tabs {
        flex-direction: column;
    }
}