html {
    scroll-behavior: smooth;
  }

  @media (max-width: 768px) {
    .codeContent {
      flex-direction: column;
    }
  }

  .gameContent {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.gameConcept {
  flex: 1;
  max-width: 600px;
}

  .informationContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.informationContainer img {
    max-width: 500px;
    height: auto;
}

.informationContent {
    flex: 1;
    max-width: 600px;
}

  .menuContent {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .menuContent img {
    flex-shrink: 0;
  }

  .menuContent p {
    max-width: 500px;
  }


  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #00FFFF, #FF1493);
    min-height: 100vh;
    margin: 0;
  }
  
.codeBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.codeContent {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  margin: 10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.codeBox h3, h4 {
  text-align: center;
  width: 100%;
}

.codeContainer {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  color: #0000ff;
  white-space: pre;
  margin: 10px 0;
}

pre {
  margin: 0;
}

.codeContainer code {
  color: #0000ff;
}

@media (max-width: 768px) {
  .codeContent {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}